video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position:relative;
    z-index: -1;
}

.Hero-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

