video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  
  .hero-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
    object-fit: contain;
    position:static;
  }
  
  .hero-container > h1 {
    color: #fff;
    font-size: 60px;
    margin-top: 80px;
  }
  .hero-img{
      width: 300px;
      height: 300px;
  }
  .btns{
    text-decoration: none;
  }

  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .hero-btns {
    margin-top: 30px;
  }
  
  .hero-btns .btn {
    margin: 6px;
    border-radius:20px ;
  }
  .hero-btns .btn:hover{
      background-color: rgb(72, 36, 94);
      border: none;
      border-radius: 20px;
      transition: 0.3s ease-in-out;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: 30px;
    }
    .hero-btns Button{
        display: block;
        
    }
    .hero-container > h1 {
        color: #fff;
        font-size: 60px;
        margin-top: 80px;
      }
      .hero-img{
          width: 200px;
          height: auto;
      }
      
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: 40px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }